<%= form_for @event_language , :url =>  @event_language.new_record? ? admin_event_languages_path: admin_event_language_path,html: {id: 'lan',name:'lan'}  do |f| %>

   <% if @event_language.errors.any? %>

<% @event_language.errors.each do |name, msg| %>
  <%= content_tag :div, :class => "alert alert-#{name}" do %>
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= "#{name} #{msg}" %>
  <% end %>
<% end %>

  <% end %>

			<table class="tabtable1">			
			
							
				<tr>
					<td width="123" class="fldlable"><%= f.label "Name" %><span class="red">*</span> </td>
					<td width="309"><%= f.text_field :name %></td>				   
				</tr>
				
				
				<tr>
				<td align="center"></td>
				    <td align="center">
				 <%= f.submit "Save",  :class=>'button' %>&nbsp;<%= link_to 'Back', admin_event_languages_path, :class=>"button" %>

</td>
				 
				</tr>			
			</table>


<% end %>
