<table width="100%" border="0">
  <tr>
  		<td width="23%" valign="top">
<%= form_tag root_path ,:remote=>'true',:id=>'checkbox',:name=>'checkbox' do |f| %>
			<%= render 'layouts/left'  %>
<% end %>
		</td>
		<td width="77%" valign="top" >



 <div id='home' >
<table width="97%" class='listtbl' border="0" style="margin:0;">
 <tr>
<td align="left" class="searchhead2" style="padding-left:30px" ><% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
      <a class="close" data-dismiss="alert" href="#">×</a>
      <%= msg %>
    <% end %>
  <% end %>Change password</td></tr>
<tr>
<tr><td><div class="underline" style="width:715px;"></div></td></tr>
                    <tr>
                    <td > 

 <%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<table width='100%' border='0'>
<tr>
<td> <div><%= f.label "New password :" %></td>
 <td><%= f.password_field :password, :autocomplete => "off" %></td>
</tr> 
<tr>
<td> <div><%= f.label "Confirm password :" %></td>
 <td><%= f.password_field :password_confirmation %></td>
</tr> 

<tr>
<td></td>
 <td><%= f.submit "Update" ,:class=>'button' %>&nbsp;<%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete,:class=>'button' %></td>
</tr> 

 
</table>
<% end %>
</td>
 </tr>
</table></div>
</td>					
</tr>
</table>  
<script>
$(document).ready(function() {
    $('.pagination a').attr('data-remote', 'true');
});
$('input:checkbox').click(function(e){

  $(this).closest('form').submit();
});

</script>
